<html>

<head>
	<style type="text/css">
		[uib-typeahead-popup].dropdown-menu {
			display: block;
		}
	</style>
	<style type="text/css">
		.uib-time input {
			width: 50px;
		}

	</style>
	<style type="text/css">
		[uib-tooltip-popup].tooltip.top-left>.tooltip-arrow,
		[uib-tooltip-popup].tooltip.top-right>.tooltip-arrow,
		[uib-tooltip-popup].tooltip.bottom-left>.tooltip-arrow,
		[uib-tooltip-popup].tooltip.bottom-right>.tooltip-arrow,
		[uib-tooltip-popup].tooltip.left-top>.tooltip-arrow,
		[uib-tooltip-popup].tooltip.left-bottom>.tooltip-arrow,
		[uib-tooltip-popup].tooltip.right-top>.tooltip-arrow,
		[uib-tooltip-popup].tooltip.right-bottom>.tooltip-arrow,
		[uib-tooltip-html-popup].tooltip.top-left>.tooltip-arrow,
		[uib-tooltip-html-popup].tooltip.top-right>.tooltip-arrow,
		[uib-tooltip-html-popup].tooltip.bottom-left>.tooltip-arrow,
		[uib-tooltip-html-popup].tooltip.bottom-right>.tooltip-arrow,
		[uib-tooltip-html-popup].tooltip.left-top>.tooltip-arrow,
		[uib-tooltip-html-popup].tooltip.left-bottom>.tooltip-arrow,
		[uib-tooltip-html-popup].tooltip.right-top>.tooltip-arrow,
		[uib-tooltip-html-popup].tooltip.right-bottom>.tooltip-arrow,
		[uib-tooltip-template-popup].tooltip.top-left>.tooltip-arrow,
		[uib-tooltip-template-popup].tooltip.top-right>.tooltip-arrow,
		[uib-tooltip-template-popup].tooltip.bottom-left>.tooltip-arrow,
		[uib-tooltip-template-popup].tooltip.bottom-right>.tooltip-arrow,
		[uib-tooltip-template-popup].tooltip.left-top>.tooltip-arrow,
		[uib-tooltip-template-popup].tooltip.left-bottom>.tooltip-arrow,
		[uib-tooltip-template-popup].tooltip.right-top>.tooltip-arrow,
		[uib-tooltip-template-popup].tooltip.right-bottom>.tooltip-arrow,
		[uib-popover-popup].popover.top-left>.arrow,
		[uib-popover-popup].popover.top-right>.arrow,
		[uib-popover-popup].popover.bottom-left>.arrow,
		[uib-popover-popup].popover.bottom-right>.arrow,
		[uib-popover-popup].popover.left-top>.arrow,
		[uib-popover-popup].popover.left-bottom>.arrow,
		[uib-popover-popup].popover.right-top>.arrow,
		[uib-popover-popup].popover.right-bottom>.arrow,
		[uib-popover-html-popup].popover.top-left>.arrow,
		[uib-popover-html-popup].popover.top-right>.arrow,
		[uib-popover-html-popup].popover.bottom-left>.arrow,
		[uib-popover-html-popup].popover.bottom-right>.arrow,
		[uib-popover-html-popup].popover.left-top>.arrow,
		[uib-popover-html-popup].popover.left-bottom>.arrow,
		[uib-popover-html-popup].popover.right-top>.arrow,
		[uib-popover-html-popup].popover.right-bottom>.arrow,
		[uib-popover-template-popup].popover.top-left>.arrow,
		[uib-popover-template-popup].popover.top-right>.arrow,
		[uib-popover-template-popup].popover.bottom-left>.arrow,
		[uib-popover-template-popup].popover.bottom-right>.arrow,
		[uib-popover-template-popup].popover.left-top>.arrow,
		[uib-popover-template-popup].popover.left-bottom>.arrow,
		[uib-popover-template-popup].popover.right-top>.arrow,
		[uib-popover-template-popup].popover.right-bottom>.arrow {
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
			margin: 0;
		}

		[uib-popover-popup].popover,
		[uib-popover-html-popup].popover,
		[uib-popover-template-popup].popover {
			display: block !important;
		}
	</style>
	<style type="text/css">
		.uib-datepicker-popup.dropdown-menu {
			display: block;
			float: none;
			margin: 0;
		}

		.uib-button-bar {
			padding: 10px 9px 2px;
		}
	</style>
	<style type="text/css">
		.uib-position-measure {
			display: block !important;
			visibility: hidden !important;
			position: absolute !important;
			top: -9999px !important;
			left: -9999px !important;
		}

		.uib-position-scrollbar-measure {
			position: absolute !important;
			top: -9999px !important;
			width: 50px !important;
			height: 50px !important;
			overflow: scroll !important;
		}

		.uib-position-body-scrollbar-measure {
			overflow: scroll !important;
		}
	</style>
	<style type="text/css">
		.uib-datepicker .uib-title {
			width: 100%;
		}

		.uib-day button,
		.uib-month button,
		.uib-year button {
			min-width: 100%;
		}

		.uib-left,
		.uib-right {
			width: 100%
		}
	</style>
	<style type="text/css">
		.ng-animate.item:not(.left):not(.right) {
			-webkit-transition: 0s ease-in-out left;
			transition: 0s ease-in-out left
		}
	</style>
	<style type="text/css">
		

		[ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak,
		.ng-hide:not(.ng-hide-animate) {
			display: none !important;
		}

		ng\:form {
			display: block;
		}

		.ng-animate-shim {
			visibility: hidden;
		}

		.ng-anchor {
			position: absolute;
		}
	</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1">
	<title>ClickTime Data Loader</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
	<link rel="icon" type="image/png" sizes="32x32" href="https://connect.clicktime.com/static/images/ctlogoicon.png">
	<script src="https://use.fontawesome.com/83472ce63a.js"></script>
	<link href="https://use.fontawesome.com/83472ce63a.css" media="all" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet">
	<link href="https://connect.clicktime.com/css/app.7443de2a95eaf1c17e89d6bca6a8098c.css" rel="stylesheet">
</head>
<style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}
	
	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}
	th {
		font-weight: bold;
	}	
	tr:nth-child(even) {
	  background-color: #f3f3f3;
	}
	</style>

<body id="ct-body" >
	<div class="header-bar">
		<div class="logo print"><a href="/"><img src="https://connect.clicktime.com/static/images/ctlogopro.png" class="logo-img" alt="ClickTime Connect">
			
			<ct-current-service class="ng-binding ng-isolate-scope"> <a href="https://status.developer.intuit.com/"
				 target="_blank"></a> </ct-current-service><!-- ngIf: devDisplay -->
		</div>
		<form action="/logout" method="POST" enctype="multipart/form-data" >
				<div class="ct-right" style="padding: 5px; padding-left: 40px; margin-top: -40px;">
					<button class="btn" type="submit" id="submitID" style="background-color: #e7e7e7; color: black;border-radius: 5px;">
						Log Out
					</button>
				</div>
		</form>

		<form action="/statuspage" method="POST" enctype="multipart/form-data" >
			<div class="ct-right" style="padding: 5px; margin-top: -40px;border-style: solid;">
				<button class="btn" type="submit" id="submitID" style="background-color: #2095f2; border-radius: 5px;border-bottom-style: solid;border-bottom-color: black;" >
					Job Status Page 
				</button>
			</div>
		</form>

		<form action="/DownloadPage" method="POST" enctype="multipart/form-data" >
			<div class="ct-right" style="padding: 5px; margin-top: -40px;">
				<button class="btn" type="submit" id="submitID" style="background-color: #2095f2; border-radius: 5px;" >
					Download from CT
				</button>
			</div>
		</form>
		<form action="/UploadPage" method="POST" enctype="multipart/form-data" >
			<div class="ct-right" style="padding: 5px; margin-top: -40px;">
				<button class="btn" type="submit" id="submitID" style="background-color: #2095f2; border-radius: 5px;">
					Upload to CT
				</button>
			</div>
        </form>
        <form action="/UpdatePage" method="POST" enctype="multipart/form-data" >
			<div class="ct-right" style="padding: 5px; margin-top: -40px;">
				<button class="btn" type="submit" id="submitID" style="background-color: #2095f2; border-radius: 5px;">
					Update in CT
				</button>
			</div>
        </form>
        <form action="/DeletePage" method="POST" enctype="multipart/form-data" >
			<div class="ct-right" style="padding: 5px; margin-top: -40px;">
				<button class="btn" type="submit" id="submitID" style="background-color: #2095f2; border-radius: 5px;">
					Delete Data
				</button>
			</div>
		</form>
						
	</div>


	<h3 style="padding-left: 20px; padding-top: 20px; font-size:x-large; color:rgb(66, 106, 238);">Job Status Table</h3>
	<div class="ct-main left block no-form ct-tile  medium-large no-height-limit" style="margin-top: 10px;border: thin solid rgb(121, 121, 126)">		

		<p class="ct-margin-top"></p>
			<div class="ct-table-outer" > 
				<div class="ct-table-inner ">
					
						<table class="ct-table " id="peopleTable"> 
						
						<thead>
							<tr>
							    <th style="position: sticky; top: 0;">Job Number</th>
								<th style="position: sticky;top: 0;">Entity Type</th>
								<th style="position: sticky;top: 0;">Job Status</th>
                                <th style="position: sticky;top: 0;">Total Records Submitted</th>
                                <th style="position: sticky;top: 0;">Total Records Processed</th>
                                <th style="position: sticky;top: 0;">Success</th>
								<th style="position: sticky;top: 0;">Errors</th>
								<th style="position: sticky;top: 0;">Date</th>
								<th style="position: sticky;top: 0;">Error Log</th>
								
							</tr>
						</thead>
						<tbody >
							<% for(var key in htmltable) {
								
								
								htmltable[key].JobsList.sort(function(a, b) {
									return b["Job Number"] - a["Job Number"];
								})%>
							
								<% for(var job in htmltable[key].JobsList) {%>

								<tr>
									<% var entity = "a"; %>
									<% if(htmltable[key].EntityType ==1){entity="Users"}
									else if(htmltable[key].EntityType ==2){entity="Jobs"}
									else if(htmltable[key].EntityType ==3){entity="Allocations"} 
									else if(htmltable[key].EntityType ==4){entity="Tasks"} 
									else if(htmltable[key].EntityType ==5){entity="Time Entries"} 
									else if(htmltable[key].EntityType ==6){entity="Divisions"} 
									else if(htmltable[key].EntityType ==7){entity="Clients"} 							
									%>
									
								<td> <%= htmltable[key].JobsList[job]["Job Number"] %>  </td>
								<td> <%= entity %>  </td>	
								<td> <%= htmltable[key].JobsList[job]["Job Status"] %>  </td>
								<td> <%= htmltable[key].JobsList[job]["Total Records In Request"] %>  </td>
								<td> <%= htmltable[key].JobsList[job]["Total Records Processed"] %>  </td>
								<td> <%= htmltable[key].JobsList[job]["Total Processed - Success"] %>  </td>
								<td> <%= htmltable[key].JobsList[job]["Total Processed - Errors"] %>  </td>
								<td> <%= htmltable[key].JobsList[job]["Job Creation"].split("T")[0] %>  </td>
								
								<td> 
									<form action='/loaderrors/<%= htmltable[key].JobsList[job]["Job Number"]%>' method="POST" class="ct-form">
									<button class="ct-center" type="submit">Download</button>
									</form>
									</td>
								</tr>	

								<% } %>
								
							<% } %>
						</tbody>
					</table>		
				</div>
			</div>	
	</div>
	
	<div class="footer hidden-print">
		<div class="ct-block-left ng-binding"><i class="fa fa-copyright" aria-hidden="true"></i> 1999-2020 Clicktime.com,
			Inc.</div>
		<div class="ct-block-right">
			<p>Contact Us: <a href="mailto:professionalservices@clicktime.com" target="_blank">professionalservices@clicktime.com</a></p>
		</div>
	</div>

</body>

</html>