<html>

<head>
	<style type="text/css">
		[uib-typeahead-popup].dropdown-menu {
			display: block;
		}
	</style>
	<style type="text/css">
		.uib-time input {
			width: 50px;
		}
	</style>
	<style type="text/css">
		[uib-tooltip-popup].tooltip.top-left>.tooltip-arrow,
		[uib-tooltip-popup].tooltip.top-right>.tooltip-arrow,
		[uib-tooltip-popup].tooltip.bottom-left>.tooltip-arrow,
		[uib-tooltip-popup].tooltip.bottom-right>.tooltip-arrow,
		[uib-tooltip-popup].tooltip.left-top>.tooltip-arrow,
		[uib-tooltip-popup].tooltip.left-bottom>.tooltip-arrow,
		[uib-tooltip-popup].tooltip.right-top>.tooltip-arrow,
		[uib-tooltip-popup].tooltip.right-bottom>.tooltip-arrow,
		[uib-tooltip-html-popup].tooltip.top-left>.tooltip-arrow,
		[uib-tooltip-html-popup].tooltip.top-right>.tooltip-arrow,
		[uib-tooltip-html-popup].tooltip.bottom-left>.tooltip-arrow,
		[uib-tooltip-html-popup].tooltip.bottom-right>.tooltip-arrow,
		[uib-tooltip-html-popup].tooltip.left-top>.tooltip-arrow,
		[uib-tooltip-html-popup].tooltip.left-bottom>.tooltip-arrow,
		[uib-tooltip-html-popup].tooltip.right-top>.tooltip-arrow,
		[uib-tooltip-html-popup].tooltip.right-bottom>.tooltip-arrow,
		[uib-tooltip-template-popup].tooltip.top-left>.tooltip-arrow,
		[uib-tooltip-template-popup].tooltip.top-right>.tooltip-arrow,
		[uib-tooltip-template-popup].tooltip.bottom-left>.tooltip-arrow,
		[uib-tooltip-template-popup].tooltip.bottom-right>.tooltip-arrow,
		[uib-tooltip-template-popup].tooltip.left-top>.tooltip-arrow,
		[uib-tooltip-template-popup].tooltip.left-bottom>.tooltip-arrow,
		[uib-tooltip-template-popup].tooltip.right-top>.tooltip-arrow,
		[uib-tooltip-template-popup].tooltip.right-bottom>.tooltip-arrow,
		[uib-popover-popup].popover.top-left>.arrow,
		[uib-popover-popup].popover.top-right>.arrow,
		[uib-popover-popup].popover.bottom-left>.arrow,
		[uib-popover-popup].popover.bottom-right>.arrow,
		[uib-popover-popup].popover.left-top>.arrow,
		[uib-popover-popup].popover.left-bottom>.arrow,
		[uib-popover-popup].popover.right-top>.arrow,
		[uib-popover-popup].popover.right-bottom>.arrow,
		[uib-popover-html-popup].popover.top-left>.arrow,
		[uib-popover-html-popup].popover.top-right>.arrow,
		[uib-popover-html-popup].popover.bottom-left>.arrow,
		[uib-popover-html-popup].popover.bottom-right>.arrow,
		[uib-popover-html-popup].popover.left-top>.arrow,
		[uib-popover-html-popup].popover.left-bottom>.arrow,
		[uib-popover-html-popup].popover.right-top>.arrow,
		[uib-popover-html-popup].popover.right-bottom>.arrow,
		[uib-popover-template-popup].popover.top-left>.arrow,
		[uib-popover-template-popup].popover.top-right>.arrow,
		[uib-popover-template-popup].popover.bottom-left>.arrow,
		[uib-popover-template-popup].popover.bottom-right>.arrow,
		[uib-popover-template-popup].popover.left-top>.arrow,
		[uib-popover-template-popup].popover.left-bottom>.arrow,
		[uib-popover-template-popup].popover.right-top>.arrow,
		[uib-popover-template-popup].popover.right-bottom>.arrow {
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
			margin: 0;
		}

		[uib-popover-popup].popover,
		[uib-popover-html-popup].popover,
		[uib-popover-template-popup].popover {
			display: block !important;
		}
	</style>
	<style type="text/css">
		.uib-datepicker-popup.dropdown-menu {
			display: block;
			float: none;
			margin: 0;
		}

		.uib-button-bar {
			padding: 10px 9px 2px;
		}
	</style>
	<style type="text/css">
		.uib-position-measure {
			display: block !important;
			visibility: hidden !important;
			position: absolute !important;
			top: -9999px !important;
			left: -9999px !important;
		}

		.uib-position-scrollbar-measure {
			position: absolute !important;
			top: -9999px !important;
			width: 50px !important;
			height: 50px !important;
			overflow: scroll !important;
		}

		.uib-position-body-scrollbar-measure {
			overflow: scroll !important;
		}
	</style>
	<style type="text/css">
		.uib-datepicker .uib-title {
			width: 100%;
		}

		.uib-day button,
		.uib-month button,
		.uib-year button {
			min-width: 100%;
		}

		.uib-left,
		.uib-right {
			width: 100%
		}
	</style>
	<style type="text/css">
		.ng-animate.item:not(.left):not(.right) {
			-webkit-transition: 0s ease-in-out left;
			transition: 0s ease-in-out left
		}
	</style>
	<style type="text/css">
		

		[ng\:cloak],
		[ng-cloak],
		[data-ng-cloak],
		[x-ng-cloak],
		.ng-cloak,
		.x-ng-cloak,
		.ng-hide:not(.ng-hide-animate) {
			display: none !important;
		}

		ng\:form {
			display: block;
		}

		.ng-animate-shim {
			visibility: hidden;
		}

		.ng-anchor {
			position: absolute;
		}
	</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1">
	<title>ClickTime Data Loader</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
	<link rel="icon" type="image/png" sizes="32x32" href="https://connect.clicktime.com/static/images/ctlogoicon.png">
	<script src="https://use.fontawesome.com/83472ce63a.js"></script>
	<link href="https://use.fontawesome.com/83472ce63a.css" media="all" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet">
	<link href="https://connect.clicktime.com/css/app.7443de2a95eaf1c17e89d6bca6a8098c.css" rel="stylesheet">
</head>

<body id="ct-body" >
	
	<div class="header-bar">
		<div class="logo print"><a href="/"><img src="https://connect.clicktime.com/static/images/ctlogopro.png" class="logo-img" alt="ClickTime Connect">
			
			<ct-current-service class="ng-binding ng-isolate-scope"> <a href="https://status.developer.intuit.com/"
				 target="_blank"></a> </ct-current-service><!-- ngIf: devDisplay -->
		</div>
		<form action="/logout" method="POST" enctype="multipart/form-data" >
				<div class="ct-right" style="padding: 5px; padding-left: 40px; margin-top: -40px;">
					<button class="btn" type="submit" id="submitID" style="background-color: #e7e7e7; color: black;border-radius: 5px;">
						Log Out
					</button>
				</div>
		</form>

		<form action="/statuspage" method="POST" enctype="multipart/form-data" >
			<div class="ct-right" style="padding: 5px; margin-top: -40px;border-style: solid;">
				<button class="btn" type="submit" id="submitID" style="background-color: #2095f2; border-radius: 5px;" >
					Job Status Page 
				</button>
			</div>
		</form>

		<form action="/DownloadPage" method="POST" enctype="multipart/form-data" >
			<div class="ct-right" style="padding: 5px; margin-top: -40px;">
				<button class="btn" type="submit" id="submitID" style="background-color: #2095f2; border-radius: 5px;" >
					Download from CT
				</button>
			</div>
		</form>
		<form action="/UploadPage" method="POST" enctype="multipart/form-data" >
			<div class="ct-right" style="padding: 5px; margin-top: -40px;">
				<button class="btn" type="submit" id="submitID" style="background-color: #2095f2; border-radius: 5px;border-bottom-style: solid;border-bottom-color: black;">
					Upload to CT
				</button>
			</div>
		</form>
		<form action="/UpdatePage" method="POST" enctype="multipart/form-data" >
			<div class="ct-right" style="padding: 5px; margin-top: -40px;">
				<button class="btn" type="submit" id="submitID" style="background-color: #2095f2; border-radius: 5px;">
					Update in CT
				</button>
			</div>
        </form>
        <form action="/DeletePage" method="POST" enctype="multipart/form-data" >
			<div class="ct-right" style="padding: 5px; margin-top: -40px;">
				<button class="btn" type="submit" id="submitID" style="background-color: #2095f2; border-radius: 5px;">
					Delete Data
				</button>
			</div>
		</form>
					
						
	</div>


	<!-- Upload BOX -->
	<div  class="ct-container ng-scope"></div>
		<div class="login-container block login ct-center" >
			<div class="in-border">
				<img class="ct-center" src="https://connect.clicktime.com/static/images/ctlogosmall.png">
			</div>

			<h2 class="ct-center">Upload Data to ClickTime</h2>

			<form action="/upload" method="POST" enctype="multipart/form-data" class="ct-form ng-valid-email ng-invalid ng-invalid-required ng-dirty ng-valid-parse">
				
				<div class="form-group">
					<label class="label-margin">Select Entity</label><br>
					<select id="EntityTypeID">
						<option value=1>Users</option>
						<option value=2>Jobs</option>
						<option value=3>Allocations</option>
						<option value=4>Tasks</option>
						<option value=5>Time Entries</option>
						<option value=6>Divisions</option>
						<option value=7>Clients</option>
					</select><br>
					
				</div>
				<div class="form-group">
						<label class="label-margin">Month</label><br>
						<select name="HoursMonthID">
							<option value=147 >January 2020 (147 Hours)</option>
							<option value=133>February 2020 (133 Hours)</option>
							<option value=154>March 2020 (154 Hours) </option>
							<option value=154>April 2020 (154 Hours)</option>
							<option value=140>May 2020 (140 Hours)</option>
							<option value=154>June 2020 (154 Hours)</option>
							<option value=154>July 2020 (154 Hours)</option>
							<option value=147>August 2020 (147 Hours)</option>
							<option value=147>September 2020 (147 Hours)</option>
							<option value=147>October 2020 (147 Hours)</option>
							<option value=126>November 2020 (126 Hours)</option>
							<option value=126>December 2020 (126 Hours)</option>
						  </select><br>
				</div>
				<div class="form-group">
						<label class="label-margin">CSV File</label>
						<input  type="file" accept=".csv" id="myFile" name="filename">
				</div>


				<button class="btn btn-large btn-main" type="submit" id="submitID">
					Submit <i class="fa fa-spinner fa-pulse ng-hide"></i>
				</button>
			</form> <br>



			
		</div>
	</div>
		
	
	<div class="footer hidden-print">
		
		<div class="ct-block-left ng-binding"><i class="fa fa-copyright" aria-hidden="true"></i> 1999-2020 Clicktime.com,
			Inc.</div>
		<div class="ct-block-right">
			<p>Contact Us: <a href="mailto:professionalservices@clicktime.com" target="_blank">professionalservices@clicktime.com</a></p>
		</div>
	</div>

</body>

</html>